{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "camelcase": 0,
    "prefer-destructuring": 0,
    "no-case-declarations": 0,
    "react/destructuring-assignment": "never",
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true, "minProperties": 3 },
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "no-console": "off",
    "linebreak-style": ["error", "windows"],
    "quotes": ["error", "double"],
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
